/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #000;
    background-image: url(../img/simpleBackground.jpg);
    background-repeat: no-repeat;
    background-position: 0 50px;
    background-size: 100% 100%;
}

nav {
    background-color: #000;
    color: #fff;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#main {
    width: 1280px;
    margin: 100px auto;
}

.title {
    font-size: 28px;
    margin-bottom: 40px;
}
.score {
    font-size: 26px;
}

.player1, .computer {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.player1 {
    color: #fff;
    float: left;
    text-shadow: 0 0 10px #59b3ff,
             0 0 20px #59b3ff,
             0 0 30px #59b3ff,
             0 0 40px #269bff,
             0 0 70px #269bff,
             0 0 80px #269bff,
             0 0 100px #269bff,
             0 0 150px #269bff;
    width: 490px;
}

.cabinet {
    background-color: #000;
    /* box-shadow: -35px 0 80px -17px #269bff, 80px 0 0 0 #ff6900; */
    /*border-left: 5px solid #269bff;
    border-right: 5px solid #ff964d;*/
    /*-webkit-border-image: 
        -webkit-gradient(linear, 0 0, 0 100%, from(#269bff), to(rgba(0, 0, 0, 0))) 1 100%;
    -moz-border-image: 
        -moz-gradient(linear, 0 0, 0 100%, from(#269bff), to(rgba(0, 0, 0, 0))) 1 100%;
        border-img:
            gradient(linear, 0 0, 0 100%, from(#269bff), to (rgba(0, 0, 0, 0))) 1 100%;*/
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
       -moz-border-radius-topleft: 10px;
       -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    float: left;
    width: 290px;
}
.cabinet header {
    background-image: url(../img/tronLogo.jpg);
    height: 93px;
    width: 290px;
}

.computer {
    color: #fff;
    float: left;
    text-shadow: 0 0 10px #ff964d,
         0 0 20px #ff964d,
         0 0 30px #ff964d,
         0 0 40px #ff6900,
         0 0 70px #ff6900,
         0 0 80px #ff6900,
         0 0 100px #ff6900,
         0 0 150px #ff6900;
    width: 490px;
}

#canvas {
    background-image: url(../img/canvasBackground.jpg);
    background-position: 1px 1px;
}

/*
.button-container {
  margin: 50px auto 0 auto;
  padding: 20px;
  background: darken($magentoso, 10px);
  width: 120px;
  height: 120px;
  @include border-radius(80px);
  @include box-shadow(
    darken($magentoso,20%) 0 4px 5px inset,
    rgba(255,255,255,.5) 0 12px 5px inset,
    darken($magentoso,30%) 0 -12px 5px inset,
    rgba(0,0,0,.8) 0 4px 8px);
}
#arcade-button {
  cursor: pointer;
  width: 120px;
  height: 120px;
  font-size: 30px;
  @include border-radius(60px);
  padding: 20px;
  border: $magentoso 1px solid;
  background-color: $magentoso;
  @include background-image(radial-gradient(40px 40px, 
    circle contain, 
    $magentoso 15px, 
    lighten($magentoso,6%) 30px, 
    lighten($magentoso,6%) 40px, 
    darken($magentoso,1%) 65px));
  background-position: center center;
  background-repeat: no-repeat;
  @include box-shadow(
    rgba(0,0,0,.8) 0 0 10px 5px,
    rgba(255,255,255,.7) 0 3px 3px inset,
    darken($magentoso,40%) 0 8px 10px inset,
    rgba(0,0,0,.3) 0 20px 10px inset,
    rgba(255,255,255,.5) 0 -2px 3px inset,
    darken($magentoso,30%) 0 -7px 20px inset);
  &:hover {
    @include background-image(radial-gradient(40px 40px, 
      circle contain, 
      lighten($magentoso,5%), 
      lighten($magentoso,10%) 30px, 
      lighten($magentoso,10%) 40px, 
      lighten($magentoso,5%) 65px));
    @include box-shadow(
      rgba(0,0,0,.8) 0 0 10px 5px,
      rgba(255,255,255,.9) 0 3px 3px inset,
      darken($magentoso,30%) 0 8px 10px inset,
      rgba(0,0,0,.3) 0 20px 10px inset,
      rgba(255,255,255,.5) 0 -2px 3px inset,
      darken($magentoso,30%) 0 -7px 20px inset);
  }
  &:active {
    border-color: darken($magentoso, 90%);
    @include background-image(radial-gradient(40px 40px, 
      circle contain, 
      $magentoso 15px, 
      darken($magentoso,15%) 30px, 
      darken($magentoso,15%) 40px, 
      darken($magentoso,25%) 65px));
    @include box-shadow(
      rgba(0,0,0,.8) 0 0 10px 5px,
      rgba(0,0,0,.8) 0 3px 3px inset,
      darken($magentoso,30%) 0 8px 10px inset,
      rgba(0,0,0,.3) 0 20px 10px inset,
      rgba(255,255,255,.3) 0 -2px 3px inset,
      darken($magentoso,30%) 0 -7px 20px inset);
  }
}*/










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
